<div class="tp-footer-area pt-120 p-relative">
    <div class="tp-footer-shape-one">
        <img src="/assets/img/creative/creative-hand.png" alt="">
    </div>
    <div class="tp-footer-shape-two">
        <img src="/assets/img/service/service-1.png" alt="">
    </div>
<div class="container">
    <div class="row">
        <div class="col-xl-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 0.3s; animation-delay: 0.5s; animation-name: tpfadeUp;">
            <div class="footer-widget-info text-center">
                <h2 class="tp-footer-title pb-15">Let’s build something together</h2>
                <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable products
                with blazing-fast efficiency</p>
                <p class="right-receved">© 2025 Personal Portfolio , All Right Receved.</p>
            </div>
        </div>
    </div>
<div class="tp-copyright-bottom wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".7s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.7s; animation-name: tpfadeUp;">
    <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
            <div class="tp-copyright-logo-box text-md-center text-center text-lg-start mb-30">
            <div class="tp-copyright-logo">
                <h1>Test</h1>
            </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="tp-cpoyright-menu text-md-start text-center text-lg-center mb-30"></div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="tp-copyright-social tp-copyright-social-two text-center text-lg-end mb-30">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
</div>
</div>