<header class="d-none d-lg-block">
  <div id="header-sticky" class="tp-header-area-two header-transparent header-space-three pl-115 pr-115 pt-35 header-sticky">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-xxl-3 col-xl-3 col-lg-3">
               <div class="tp-logo text-start">
                  <a href="/">
                     <h2>Test</h2>
                  </a>
               </div>
            </div>
            <div class="col-xxl-5 col-xl-6 col-lg-6">
               <div class="tp-main-menu tp-menu-black text-center">
                  <nav id="mobile-menu" >
                     <ul>
                       <li><a href="/">Home</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
            <div class="col-xxl-4 col-xl-3 col-lg-3">
               <div class="tp-header-left d-flex align-items-center justify-content-end">
                  <div class="tp-header-yellow-button tp-yellow-space">
                     <a class="tp-btn-black" href="/">Test 👋</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<div id="header-sticky-mobile" class="tp-md-header-area header-transparent d-md-block d-lg-none pt-30 pb-30">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-md-6 col-6">
            <div class="tp-logo">
               <a href="/">
                  TEST
               </a>
            </div>
         </div>
         <div class="col-md-6 col-6">
            <div class="tp-header-right z-index-1 d-flex align-items-center justify-content-end">
               <a class="tp-btn-black d-none d-md-block" href="#">Get Collax Free</a>
               <button class="tp-menu-bar" type="button"><i class="fal fa-bars"></i></button>
            </div>
         </div>
      </div>
   </div>
</div>
